# Modified from the standard GitHub ignore file..

# Object files
*.obj
*.res

# Libraries
*.lib
*.exp

# Shared objects (inc. Windows DLLs)
*.dll

# Executables
*.exe

# Vim files
*~

# The actual Million Random Digits
*.bin
